// -------------------------------------------------------------------------
// Base
// -------------------------------------------------------------------------

body {
  font-family: $font-family;
  color: $black;
}

#header {
    border-bottom: none;
    margin-bottom: 0;
}

#main {
  -webkit-font-smoothing: antialiased;
}

#main a, #main a:visited, #main a:hover, #main a:active, #main a:focus {
  text-decoration: none
}

#footer_container {
    margin-top: 0;
}

.link--dark {
  color: #333;
  padding-bottom: 3px;
  text-decoration: none;
  transition: border-color 250ms ease 0s, color 250ms ease 0s;
  border-bottom: 4px solid transparent;
}

.link--dark:hover, .link--dark:active, .link--dark:focus {
  border-bottom-color: $teal;
  text-decoration: none;
}

li img {
  width: 100%; // For IE8
  max-width: 100%;
  height: auto;
}

.hidden {
   display: none;
}

::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder {
   color: #999;  
}

::-moz-placeholder {
   color: #999;  
}

:-ms-input-placeholder {  
   color: #999;  
}

#podcasts-new {
  background: $red;
  overflow: auto;
  width: 100%;
  h1 {
    color: $white;
    font-size: 36px;
    font-weight: $f-normal;
    padding: 50px 0 40px;
    text-align: center;
    span {
      font-weight: $f-heavy;
    }
  }
  h2 {
    color: $white;
    font-size: 20px;
    font-weight: $f-semi-bold;
    line-height: .8;
    padding-bottom: 22px;
    span {
      font-size: 14px;
    }
  }
  h3 {
    color: $white;
    font-size: 18px;
    font-weight: $f-semi-bold;
    line-height: 1.2;
    margin-bottom: 0;
  }
  img {
    margin-bottom: 12px;
  }
  li {
    display:inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: gutter();
    span {
      color: white;
      display: block;
      font-size: 14px;
      font-weight: $f-semi-bold;
      margin-bottom: 30px;
    }

    @include with-layout($gallery_layout_new) {
       
      @media only screen and (min-width: $tablet) {
        @include gallery(6 of 12);
      }

      @media only screen and (min-width: $desktop) {
        @include gallery(3 of 12); 
        span {
          margin-bottom: 0;
        }
      }
    }
  }
}

#podcasts-new li:last-child {
  padding-bottom: 38px;
}

.podcasts-new-wrapper {
  @include container;
  @include pad(52px); 
}

#newsletter-signup {
  background: $black;
  overflow: auto;
  padding-top: 33px;
  width: 100%;
  h2 {
    color: $white;
    font-size: 20px;
    font-weight: $f-semi-bold;
    padding-bottom: 11px;
  }
  p {
    color: $white;
    font-size: 14px;
    font-weight: $f-normal;
    line-height: .8;
    padding-bottom: 22px;
  }
  input[type="email"] {
    background-color: $darkgray;
    border: none;
    color: $white;
    font-size: 14px;
    font-family: $font-family;
    height: 50px;
    padding: 0 1.2em;
    vertical-align: top;
    width: 30%;
  }
  .btn {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid rgba(136, 136, 136, 0.5);
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 34px;
    padding: 0 13px;
    margin: 0 0 38px;
    transition: background-color 250ms ease 0s, border-color 250ms ease 0s, color 250ms ease 0s;
    vertical-align: top;
  }
  .btn--blue {
    background-color: #128cf4;
    border-color: #128cf4;
    color: white;
  }
  .btn--blue:hover {
    background-color: #1068b2;
    border-color: #1068b2;
    color: white;
  }

  .btn--large {
    font-family: $font-family;
    font-size: 16px;
    font-weight: $f-semi-bold;
    height: 50px;
    line-height: 50px;
    padding: 0 18px 0;
  }
  .btn, .daily-form a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
  }
}

.newsletter-signup-wrapper {
  @include container;
  text-align: center;
}

#podcasts-categorized {
  background: $white;
  overflow: auto;
  padding-top: 45px;
  width: 100%;
  ul.category-menu {
    padding-bottom: 20px;
    text-align: center;
  }
  li.category-menu--item {
    display: inline-block;
    padding: 0 42px 30px 0;
    font-size: 18px;
    font-weight: $f-normal;
  }
  li.category-menu--item:last-child {
    padding: 0 0 30px 0;
  }
  h3 {
  color: $black;
  font-size: 16px;
  font-weight: $f-normal;
  line-height: 1.2;  
  }
  span {
  color: $black;
  display: block;
  font-size: 12px;
  font-weight: $f-normal;
  padding-top: 5px;
  }
  img {
    margin-bottom: 8px;
    border: 1px solid #eee;
  }
  li.podcast--item {
    display:inline-block;
    padding-bottom: 55px;
    text-align: center;
    @include with-layout($gallery_layout_categorized) {

      @media only screen and (min-width: $tablet) {
        @include gallery(5 of 10); 
      }

      @media only screen and (min-width: $desktop) {
        @include gallery(2 of 10); 
      }
    }
  }
}

#podcasts-categorized li:last-child {
  padding-bottom: 45px;
}

.podcasts-categorized-wrapper {
  @include container;
  @include pad(122px); 
}

#podcasts-other {
  background: $lightgray;
  overflow: auto;
  padding-top: 50px;
  width: 100%;
    h2 {
    color: $black;
    font-size: 21px;
    font-weight: $f-normal;
    line-height: .8;
    margin-bottom: 16px;
    span {
      font-size: 14px;
    }
  }
  h3 {
    color: $darkgray;
    font-size: 16px;
    font-weight: $f-normal;
    line-height: 1.2;
  }
    span {
    display: block;
    font-size: 12px;
    font-weight: $f-normal;
    padding-top: 5px;
  }
  img {
    margin-bottom: 8px;
    border: 1px solid #eee;
  }
  li.podcast--item {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 55px;
    text-align: center;
    @include with-layout($gallery_layout_other) {

      @media only screen and (min-width: $tablet) {
        @include gallery(5 of 10); 
      }

      @media only screen and (min-width: $desktop) {
        @include gallery(2 of 10); 
      }
    }
  }
}

.podcasts-other-wrapper {
  @include container;
  @include pad(42px); 
}