// -------------------------------------------------------------------------
// Base
// -------------------------------------------------------------------------

body {
  font-family: $font-family;
  color: $black;
}

#header {
    border-bottom: none;
    margin-bottom: 0;
}

#main {
  -webkit-font-smoothing: antialiased;
}

#main a, #main a:visited, #main a:hover, #main a:active, #main a:focus {
  text-decoration: none
}

#footer_container {
    margin-top: 0;
}

li img {
  width: 100%; // For IE8
  max-width: 100%;
  height: auto;
}

.hidden {
   display: none;
}

::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder {
   color: #999;  
}

::-moz-placeholder {
   color: #999;  
}

:-ms-input-placeholder {  
   color: #999;  
}

#podcasts-new {
  background: $red;
  overflow: auto;
  width: 100%;
  h1 {
    color: $white;
    font-size: 36px;
    font-weight: $f-normal;
    padding: 50px 0 40px;
    text-align: center;
    span {
      font-weight: $f-heavy;
    }
  }
  h2 {
    color: $white;
    font-size: 20px;
    font-weight: $f-semi-bold;
    line-height: .8;
    padding-bottom: 22px;
    span {
      font-size: 14px;
    }
  }
  h3 {
    color: $white;
    font-size: 18px;
    font-weight: $f-semi-bold;
    line-height: 1.2;
    margin-bottom: 0;
  }
  img {
    margin-bottom: 12px;
  }
  li {
    display:inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: gutter();
    span {
      color: white;
      display: block;
      font-size: 14px;
      font-weight: $f-semi-bold;
      margin-bottom: 30px;
    }

    @include with-layout($gallery_layout_new) {
       
      @media only screen and (min-width: $tablet) {
        @include gallery(6 of 12);
      }

      @media only screen and (min-width: $desktop) {
        @include gallery(3 of 12); 
        span {
          margin-bottom: 0;
        }
      }
    }
  }
}

#podcasts-new li:last-child {
  padding-bottom: 38px;
}

.podcasts-new-wrapper {
  @include container;
  padding: 0 52px; 
}

#newsletter-signup {
  background: $black;
  overflow: auto;
  padding-top: 33px;
  width: 100%;
  h2 {
    color: $white;
    font-size: 20px;
    font-weight: $f-semi-bold;
    padding-bottom: 11px;
  }
  p {
    color: $white;
    font-size: 16px;
    font-weight: $f-normal;
    padding: 0 22px 15px;
  }
  input[type="email"] {
  	-webkit-appearance: none;
    background-color: $darkgray;
    box-sizing: border-box;
    border: none;
    color: $white;
    font-size: 14px;
    font-family: $font-family;
    height: 70px;
    padding: 0 1.2em;
    vertical-align: top;
    width: 85%;
    @media only screen and (min-width: $tablet) {
      height: 50px;
      width: 30%;
    }
  }
  .btn {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid rgba(136, 136, 136, 0.5);
    box-sizing: border-box;
    color: #888;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    height: 70px;
    line-height: 34px;
    padding: 0 13px;
    margin: 10px auto 38px;
    transition: background-color 250ms ease 0s, border-color 250ms ease 0s, color 250ms ease 0s;
    vertical-align: top;
    width: 85%;
    @media only screen and (min-width: $tablet) {
      display: inline-block;
      margin: 0 0 38px;
      width: 9.4%;
    }
  }
  .btn--blue {
    background-color: #128cf4;
    border-color: #128cf4;
    color: white;
  }
  .btn--blue:hover {
    background-color: #1068b2;
    border-color: #1068b2;
    color: white;
  }
  .btn--large {
    font-family: $font-family;
    font-size: 16px;
    font-weight: $f-semi-bold;
    height: 70px;
    line-height: 50px;
    padding: 0 18px 0;
    @media only screen and (min-width: $tablet) {
      height: 50px;
    }
  }
  .btn, input[type=email]  {
    -webkit-appearance: none;
  }
}

.newsletter-signup-wrapper {
  @include container;
  text-align: center;
}

#podcasts-categorized {
  background: $white;
  overflow: auto;
  padding-top: 45px;

  width: 100%;  
  .category-dd-wrapper {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 50px;
    outline: none;
    padding: 20px;
    position: relative;
    width: 85%;    
  	span {
  	  color: $black;
  	  display: block;
  	  font-size: 18px;
  	  font-weight: $f-semi-bold;
  	  padding-top: 5px;
  	  }
    @media only screen and (min-width: $tablet) {
      display: none; 
    }
  }
  .category-dd-wrapper:after {
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ccc transparent;
    content: "";   
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    width: 0;
  }
  .category-dd-wrapper .dropdown {
    background: white;
    border-radius: inherit;
    border: 1px solid #ccc;
    font-weight: $f-normal;
    list-style: none;
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-in;    
  }
  .category-dd-wrapper .dropdown:after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 6px 6px 6px;    
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;   
  }
  .category-dd-wrapper .dropdown:before {
    border-color: rgba(0,0,0,0.1) transparent; 
    border-style: solid;
    border-width: 0 8px 8px 8px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;      
  }
  .category-dd-wrapper .dropdown li a {
    border-bottom: 1px solid #ccc;
    color: $black;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: all 250ms ease-out;
  }
  .category-dd-wrapper .dropdown li:first-of-type a {
    border-radius: 5px 5px 0 0;
  }
  .category-dd-wrapper .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 5px 5px;
  }
  .category-dd-wrapper .dropdown li:hover a {
    background: transparent;
  }
  .category-dd-wrapper.active .dropdown {
    opacity: 1;
    pointer-events: auto;
  }
  .no-opacity .category-dd-wrapper .dropdown,
  .no-pointerevents .category-dd-wrapper .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
  }
  .no-opacity .category-dd-wrapper.active .dropdown,
  .no-pointerevents .category-dd-wrapper.active .dropdown {
    display: block;
  }
  ul.category-menu {
    padding-bottom: 20px;
    text-align: center;
    display: none;
    @media only screen and (min-width: $tablet) {
      display: block; 
    }
  }
  li.category-menu--item { 
    font-size: 18px;
    font-weight: $f-normal;

    @media only screen and (min-width: $tablet) {
      display: inline-block;
      padding: 0 42px 30px 0; 
      a.link--dark {
        color: #333;
        padding-bottom: 3px;
        text-decoration: none;
        transition: border-color 250ms ease 0s, color 250ms ease 0s;
        border-bottom: 4px solid transparent;
    }
      a.link--dark:hover, .link--dark:active, .link--dark:focus {
        border-bottom-color: $teal;
        text-decoration: none;
      }
      a.active {
        border-bottom: 4px solid transparent;
        border-bottom-color: $teal;
        color: #333;
        padding-bottom: 3px;
        transition: border-color 250ms ease 0s, color 250ms ease 0s;
        text-decoration: none;
      }
    }
  }

  li.category-menu--item:last-child {
    padding: 0;
    @media only screen and (min-width: $tablet) {
      padding: 0 0 30px 0;
    }
  }
  h3 {
	  color: $black;
	  font-size: 16px;
	  font-weight: $f-normal;
	  line-height: 1.2;  
  }
  span {
	  color: $black;
	  display: block;
	  font-size: 12px;
	  font-weight: $f-normal;
	  padding-top: 5px;
  }
  img {
    margin-bottom: 8px;
    border: 1px solid #eee;
  }
  li.podcast--item {
    display:inline-block;
    padding-bottom: 55px;
    text-align: center;
    @include with-layout($gallery_layout_categorized) {

      @media only screen and (min-width: $tablet) {
        @include gallery(5 of 10); 
      }

      @media only screen and (min-width: $desktop) {
        @include gallery(2 of 10); 
      }
    }
  }
}

#podcasts-categorized li:last-child {
  padding-bottom: 45px;
}

.podcasts-categorized-wrapper {
  @include container;
  padding: 0 42px; 
}

#podcasts-other {
  background: $lightgray;
  overflow: auto;
  padding-top: 50px;
  width: 100%;
    h2 {
    color: $black;
    font-size: 21px;
    font-weight: $f-normal;
    line-height: .8;
    margin-bottom: 16px;
    span {
      font-size: 14px;
    }
  }
  h3 {
    color: $darkgray;
    font-size: 16px;
    font-weight: $f-normal;
    line-height: 1.2;
  }
    span {
    display: block;
    font-size: 12px;
    font-weight: $f-normal;
    padding-top: 5px;
  }
  img {
    margin-bottom: 8px;
    border: 1px solid #eee;
  }
  li.podcast--item {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 55px;
    text-align: center;
    @include with-layout($gallery_layout_other) {

      @media only screen and (min-width: $tablet) {
        @include gallery(5 of 10); 
      }

      @media only screen and (min-width: $desktop) {
        @include gallery(2 of 10); 
      }
    }
  }
}

.podcasts-other-wrapper {
  @include container;
  padding: 0 42px;
}

.podcast-page-new-amazing, .podcast-page-storytelling, .podcast-page-other-podcasts {
  display: none;
}