// -------------------------------------------------------------------------
// VARIABLES
// -------------------------------------------------------------------------

$font-size: 16px;
$line-height: 1.5;
$font-family: 'Open Sans', sans-serif;

//$f-thin: 100;
//$f-extra-light: 200;
$f-light: 300;
$f-normal: 400;
//$f-medium: 500;
$f-semi-bold: 600;
$f-bold: 700;
$f-heavy: 800;
//$f-black: 900;

$pink: #d3008c;
$red: #de1e3d;
$teal: #24c197;
$blue: #128cf4;
$aquamarine: #24c197;
$lightgray: #f1f1f1;
$gray: #666;
$darkgray: #333;
$black: #000;
$white: #fff;

$phone: 480px;
$tablet: 768px;
$desktop: 992px;